body{
    margin:0;
    /* font-family: 'Courier New', Courier, monospace; */
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: black;
}

/* .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.header-right{
    display: flex;
    justify-content: flex-end;
    flex:1;
    margin-right: 100px;
} 

.header-left{
    flex:1;
} 

.nav{
    display:flex;
    gap: 70px;
}

.nav a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-family: "Instrument Sans", sans-serif;
}


.nav a :hover{
    text-decoration: underline;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    width: 900px;
    height: 200px;
    display: inline-block;
    margin-top: 50px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 64px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.highlight{
    background: linear-gradient(
        to right, 
        rgba(162, 132, 94, 1) 18%, 
        rgba(162, 132, 94, 1) 26%, 
        rgba(162, 132, 94, 0.63) 38%, 
        rgba(162, 132, 94, 0.63) 39%, 
        rgba(162, 132, 94, 0.62) 49%, 
        rgba(162, 132, 94, 0.62) 51%, 
        rgba(162, 132, 94, 0.61) 69%, 
        rgba(162, 132, 94, 0.56) 89%, 
        rgba(162, 132, 94, 0.55) 95%, 
        rgba(162, 132, 94, 0.55) 100% 
    );
    background-size: 400% 100%;
    animation: degrade 7s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}

@keyframes degrade{
    0%{
        background-position-x:0%;
    }
    100%{
        background-position: 400%;
    }
}

#carrossel{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: flex;
    /* grid-template-columns: 200px 200px; */
    gap:150px;
    margin-top: 100px;
    /* margin-left: 100px;
    margin-right: 100px; */
    justify-content: center;
    align-items: center;
}

.legenda{
    background-color: #a2845e;
    color:white;
    border-radius: 40px;
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 64px;
    font-weight: bold;
}


.imagem {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

#servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-top: 150px;
}

.bloco{
    background-color: #E5DED4;
    /* opacity: 55%; */
    width: 1150px;
    height: 470px;
    border-radius: 40px;
}



#conjunto-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-left: 120px;
    margin-right: 120px;
}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter",sans-serif;
    text-align: center;
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 36px;
}

.titulo-servico{
    color: #A2845E;
    text-align: center;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    margin-top: 40px;
}


#conjunto-legendas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-left: 70px;
    margin-right: 70px;
}

.background-items{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter",sans-serif;
    text-align: center;
    width: 257px;
    height: 115px;
    background-color: #A2845E;
    border-radius: 18px;   
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}